* {
    box-sizing: border-box;
}

/* Typography */

@font-face {
    font-family: 'Montserrat-Thin';
    src: url('/fonts/Montserrat-Thin.ttf');
}

@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat-Regular.ttf');
}

@font-face {
    font-family: 'Montserrat-Medium';
    src: url('/fonts/Montserrat-Medium.ttf');
}

@font-face {
    font-family: 'Montserrat-Bold';
    src: url('/fonts/Montserrat-Bold.ttf');
}

/* Base */

html {
    font-family: Montserrat;
}

body {
    height: 100vh;
    margin: 0;
}

/* Layout */

.container {
    padding-left: 50px;
    padding-right: 50px;
}

/* page header */

.main-header {
    height: 65px;
    background-color: #ff7f00;
}

.logo {
    width: 133px;
    height: 22px;
    object-fit: contain;
}

/* navbar */

.main-nav {
    width: 120px;
}

.seperator {
    width: 1px;
    height: 32px;
    background-color: #8a8a8a;
}

/* main */

/* Gallery */

.gallery-search-nav-container {
    height: 100px;
}

.images-grid {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    row-gap: 10px;
}

.images-gallery {
    background-color: #e3e3e3;
    padding-top: 50px;
    padding-bottom: 50px;
}

.gallery-image {
    border-radius: 50%;
    transition: border-radius .1s;
}

.gallery-image:hover {
    border-radius: 10%;
    cursor: pointer;
}

/* Editor */

.editor-container {
    background-color: cyan;
    display: none;
    padding-top: 50px;
    padding-bottom: 50px;
}

.settings-container {
    height: 500px;
    width: 500px;
    background-color: green;
}

/* footer */

.main-footer {
    height: 200px;
    background-color: #ff7f00;
}

/* helpers */

.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.align-items-center {
    align-items: center;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-center {
    justify-content: center;
}

.grid {
    display: grid;
}